body {
  margin: 0;
  background: radial-gradient(#020024, #090979, #000);
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  margin-top: 20px;
}

canvas {
  display: block;
  margin: auto;
}